<!DOCTYPE html>
<html>
<head>
<title>Cheatsheet by Ben Kai Tang</title>
<style>
body {
  background-image: url("white.jpg");
}

</style>
</head>

<body>

<strong>Cheatsheet:</strong>

<p>
Basis
<p>
1. The DOCTYPE declaration must be the very first thing in your HTML document, before the html tag.<br>
2. The body tag defines the document's body.<br>
3. The em tag is a phrase tag. It renders as emphasized text.<br>
4. The head element is a container for all the head elements.<br>
5. The html tag tells the browser that this is an HTML document.<br>
6. The strong tag is a phrase tag. It defines important text.<br>
7. The title tag is required in all HTML documents and it defines the title of the document.<br>
<p>
Questions
<p>
Word Wide Web General<br>
1. What are the most essential technologies that made the World Wide Web such a success?<br>
URL and URI
<p>
2. How are resources (html pages, images, etc) addressed in the web?<br>
URL and URI, Language: HTML, HTTP (Transfer)
<p>
3. What are the general components of a url?<br>
A scheme,a host, a path, a query string
<p>
Web Server<br>
1. What is a web Server<br>
Its a server which transfers documents to clients
<p>
2. What does a web server?<br>
Primary function: serve content
<p>
3. How can content be stored on a web server?<br>
Stored in hard disks of web servers all over the world
<p>
4. How is content in webpages described?<br>
 As Web content which can be textual, visual or aural
<p>
Web Client<br>
1. What is a web client?<br>
Its a software application
<p>
2. What does a web client?<br>
It accesses information on the World Wide Web
<p>
3. Web Client and Web Browser is the same<br>
Yes both are the same
<p>
Hello World<br>
1. What is the html head element?<br>
Head element is a container for all their elements, it can include a title, script, styles, meta information and more
<p>
2. What does <!DOCTYPE` html> mean?<br>
!DOCTYPE is an instruction to the web server which version of HTML the page is written
<p>
3. What are the two top most elements within the html element?<br>
!DOCTYPE and HTML
<p>
4. How to emphasize a text and how is it displayed in the browser?<br>
Emphasize an element with em. It renders as emphasized text
<p>
5. How to mark up important ext and how is it displayed in the browser?<br>
To mark up important text you use strong and it is displayed as bold text
<p>
</h1>

</body>
